* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: url("wpb.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 1fr 1fr;
  grid-template-rows: 15% 1fr 2fr;
  grid-template-areas:
    "box1 box3 box6"
    "box2 box2 box2"
    "box5 box5 box7";
}

.heading {
  grid-area: box1;
  color: white;
  text-shadow: 0.5px 0px gray;
  margin-left: 7%;
  align-self: center;
  justify-self: start;
  font-family: Arial, sans-serif;
  font-size: 300%;
}

.text {
  grid-area: box2;
  color: white;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: justify;
  font-family: Arial, sans-serif;
  font-size: 160%;
}

.covid {
  grid-area: box3;
  padding-bottom: 30px;
  justify-self: start;
  align-self: center;
}

.bild1 {
  width: 30%;
  height: 70%;
  margin-top: 4%;
}

.aha {
  grid-area: box7;
  justify-self: start;
  align-self: start;
}

.bild2 {
  width: 70%;
  height: 70%;
  margin-left: 20%;
}

.video {
  grid-area: box5;
  padding-left: 1%;
}

iframe {
  width: 85%;
  height: 100%;
  padding: 2%;
  padding-top: 0%;
}

.liveticker {
  color: white;
  font-size: 100%;
  font-family: Arial, sans-serif;
  align-self: start;
  justify-self: center;
  padding-top: 2%;
  grid-area: box6;
}

h2 {
  text-shadow: 0.5px 0px gray;
  font-family: Arial, sans-serif;
  font-size: 200%;
  text-align: center;
}

table,
th,
td {
  color: #ffffff;
  border: 2px solid white;
  border-collapse: collapse;
  margin: 0px 30px 30px;
  text-shadow: 0.5px 0px gray;
  font-size: 120%;
  padding: 3px;
  text-align: center;
  align-self: center;
}

.zurrückmeldung {
  grid-area: box7;
  justify-self: end;
  align-self: end;
  color: white;
  font-size: 150%;
  padding: 5%;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #c2c2c2;
}
